* {
  background-color: black;
}

.App {
  text-align: center;
  /* display: flex; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.box {
  width: 100px;
  height: 80px;
  color: darkslategray;
  background-color: black;
  font-size: 72px;
  font-weight: 800;
  padding: 20px 60px 30px 60px;
  margin-left: 507px;
  /* align-self: center;
  justify-content: center; */
}
.up {
  background-color: blue;
  border-radius: 5px;
  width: 60px;
}
.reset {
  background-color: white;
  border-radius: 5px;
  width: 60px;
}
.down {
  background-color: red;
  border-radius: 5px;
  width: 60px;
}
#head {
  background-color: black;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
